<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo Producto</title>
    <link rel="stylesheet" href="/css/crearProducto.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<%- include("../partials/header") %>

    <main>
        <form class="crearP" action="/crearProduct" method="post" enctype="multipart/form-data">
            <h3 class="h3">Crear nuevo producto</h3>
            <div>
                <label for="name">Nombre: </label>
                <input type="text" name="name" id="name" ><br>
                <span class="warning" id="nameWarning"></span>
                <% if (typeof errors !=='undefined' && errors.name ) { %>
                    
                    <%= errors.name.msg %>

                        <% } %>
            </div>
            <div>
                <label for="description">Descripción: </label>
                <input type="text" name="description" id="description" ><br>
                <span class="warning" id="descriptionWarning"></span>
                <% if (typeof errors !=='undefined' && errors.description ) { %>
                    
                    <%= errors.description.msg %>

                        <% } %>
            </div>
            <div>
                <label for="category">Categoria: </label>
                <input type="text" name="category" id="category" ><br>
                <span class="warning" id="categoryWarning"></span>
                <% if (typeof errors !=='undefined' && errors.category ) { %>
                    
                    <%= errors.category.msg %>

                        <% } %>
            </div>
            <div>
                <label for="price">Precio: </label>
                <input type="number" name="price" id="price" ><br>
                <span class="warning" id="priceWarning"></span>
                <% if (typeof errors !=='undefined' && errors.price ) { %>
                    
                    <%= errors.price.msg %>

                        <% } %>
            </div>
            <div>
                <label for="descuento">Descuento: </label>
                <input type="number" name="descuento" id="descuento" ><br>
                <span class="warning" id="descuentoWarning"></span>
                <% if (typeof errors !=='undefined' && errors.descuento ) { %>
                    
                    <%= errors.descuento.msg %>

                        <% } %>
            </div>
            <div>
                <label for="color">Color: </label>
                <input type="text" name="color" id="color" ><br>
                <span class="warning" id="colorWarning"></span>
                <% if (typeof errors !=='undefined' && errors.color ) { %>
                    
                    <%= errors.color.msg %>

                        <% } %>
            </div>
            <div>
                <label for="image">imagen: </label>
                <input type="file" name="image" id="image">
                <span class="warning" id="imageWarning"></span>
                <% if (typeof errors !=='undefined' && errors.imagen ) { %>
                    
                    <%= errors.imagen.msg %>

                        <% } %>
            </div>
            <article class="botonEnviar">
                <button class="enviar" type="submit">Enviar</button>
               
            </article>
            <!-- <p><a class="editar" href="/editarProducto">Editar un producto</a></p> -->
         
        
        </form>
        <script src="validation/productvalidations.js"></script>
    </main>

    <%- include("../partials/footer") %>

        <body>

        </body>

</html>