<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- <header>
        <div class="topHeader">
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="logo">
                <img class="imglogo" src="/images/LOGO2.png" alt="Logo">
            </div>
            <div class="usuario">
                <p><i class="fa-solid fa-user"></i> Usuario</p>
            </div>
            <div class="carrito">
                <p><i class="fa-solid fa-cart-shopping"></i></p>
            </div>
        </div>

        <form class="form" action="">
            <input type="search" placeholder="Buscar productos, marcas y más">
            <i id="lupa" class="fa-solid fa-magnifying-glass"></i>
        </form>
        <div class="menulist">
            <ul class="opciones">
                <li><a href="">Menu</a></li>
                <li><a href="">Promocion</a></li>
                <li><a href="">Ofertas Limitadas</a></li>
                <li><a href="">Locales</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Horarios de atecion</a></li>
            </ul>
        </div>
    </header> -->

    <%- include("../partials/header") %>

    <main>
        <div class="imgP">
            <img src="/images/productos/<%= product.imagen %>" alt="Vista perspectiva del Rog Zephyrus Duo">
        </div>
        <section class="carrusel">
            <img class="img" src="/images/rogZephyrusDuo/perspectiva.png" alt="Vista perspectiva del Rog Zephyrus Duo">
            <img class="img" src="/images/rogZephyrusDuo/back.png" alt="Vista de atras">
            <img class="img" src="/images/rogZephyrusDuo/frontC.png" alt="Vista de frente cerrado">
            <img class="img" src="/images/rogZephyrusDuo/front.png" alt="Vista de frente">
            <img class="img" src="/images/rogZephyrusDuo/lateral.png" alt="Vista lateral">
            <img class="img" src="/images/rogZephyrusDuo/superior.png" alt="Vista superior">
        </section>
        <div>
            <!-- <i class="fa-regular fa-star"></i> -->
            <div class="producto">
                <h5 class="titulo"><%= product.nombre %></h5>
                <p class="precio">$<%= product.precio %></p>
                <p class="descuento"><%= product.descuento %>%</p>
            </div>
            <div class="caracteristicas">
                <p class="top">Lo que tenés que saber de este producto</p>
                <ul>
                    <li>Procesador AMD.</li>
                    <li>Memoria RAM de 16GB.</li>
                    <li>Pantalla LED de 16".</li>
                    <li>Resolución de 1920x1080 px.</li>
                    <li>Placa de video NVIDIA GeForce GTX 1060.</li>
                    <li>Conexión wifi y bluetooth.</li>
                    <li>Cuenta con puerto USB y puerto HDMI.</li>
                    <li>La duración de la batería depende del uso que se le dé al producto.</li>
                </ul>
            </div>

            <div class="compra">
                <p class="comprar">Comprar ahora</p>
                <p class="agregar"><span class="textA"> Agregar al carrito </span>  <i class="fa-solid fa-cart-plus"></i></p>
            </div>
        </div>
    </main>

    <!-- <footer>
        <div class="redes">
            <p class="red" > <a href=""> <i id="whatsapp" class="fa-brands fa-whatsapp"> </i></a> </p>
            <p class="red" > <a href=""></a><i id="facebook" class="fa-brands fa-facebook"></i></p>
            <p class="red" > <a href=""></a><i id="instagram" class="fa-brands fa-instagram"></i></p>
            <p class="red" > <a href=""></%><i id="twitter" class="fa-brands fa-twitter"></i></p>
            <p class="red" > <a href=""></a><i id="youtube" class="fa-brands fa-youtube"></i></p>
        </div>
        <p>Politicas de Privaciad</p>
        <p>Asisente Técnico</p>
    </footer> -->

    <%- include("../partials/footer") %>

</body>

</html>