<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <%- include("../partials/header") %>

        <main>
            <div class="contenedor">
                    <div class="imagen">
                        <img src="/images/productos/<%= product.imagen %>" alt="<%= product.nombre %>">
                    </div>
                    <div class="producto">
                        <h3 class="titulo">
                            <%= product.nombre %>
                        </h3>
                        <p class="precio">$<%= product.precio %>
                        </p>
                        <p class="descuento">
                            <%= product.descuento %>% OFF
                        </p>
                        <%let total=product.precio - (product.precio /100 * product.descuento) %>
                            <p class="total"> $<%= total %>
                            </p>
                        </div>
                        <div class="descripcion">
                        <h4 class="caracteristicas">Caracteristicas</h4>
                        <ul>
                            <% for(let i=0; i<product.descripcion.length; i++){%>
                                <li>
                                    <%=product.descripcion[i] %>
                                </li>
                                <%}%>
                        </ul>
                    </div>
                <div class="compra">
                    <p class="comprar">Comprar ahora</p>
                    <p class="agregar"><span class="textA"> Agregar al carrito </span> <i
                            class="fa-solid fa-cart-plus"></i></p>
                </div>
                <div class="admin">

                    <a href="/crearProduct">
                        <p>Crear</p>
                    </a>
                    <a href="/editarProducto/<%= product.id %>">
                        <p>Editar</p>
                    </a>
                </div>
            </div>
        </main>

        <%- include("../partials/footer") %>

</body>

</html>