<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>techtropolis</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>

        <%- include('partials/header') %>

    </header>
    <div class="logo">

    </div>
    <div class="form" action="#" method="GET">

    </div>
    <section class="layout">

    </section>
    <div class="burger-menu">

    </div>


    </header>

    <div>
        <img src="/images/ofertas (2).png" class="img-1" alt="ofertas">
    </div>

    <main class="tamaño">

        <div class="forma">
            <% products.forEach(product=> { %>
                <div class="produptos">
                    <div class="prupto">
                        <img src="/images/productos/<%= product.imagen %>" class="imagen-produp" alt="">
                        <div class="informacion-produpto">


                            <p class="descueto-produp">
                                <%= product.descuento %>% off
                            </p>

                            <p class="precion-produp">$<%= product.precio %>
                            </p>

                            <p class="nombre-produp">
                                <%= product.nombre %>
                            </p>


                        </div>
                    </div>
                </div>



                <% }); %>
        </div>

    </main>

    <footer>

        <%- include('partials/footer') %>


    </footer>

</body>

</html>