<!DOCTYPE html>
<html>

<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <header>
        <%- include('partials/header') %>
    </header>
    <main>

        <div class="form-container">
            <h2></h2>

            <% if (typeof errors !=='undefined' && errors.length !==0) { %>

                <h2>complete el Formulario</h2>




                <% } %>
                    <form action="/register" method="post" enctype="multipart/form-data" id="form">
                        <div class="form-group" id="valida">
                            <label for="nombre" class="nombre">Nombre:</label>
                            <% if (typeof errors !=='undefined' && errors.nombre ) { %>
                                <%= errors.nombre.msg %>
                                    <% } %>



                                        <input type="text" class="tamañocr" id="nombre" name="nombre">

                        </div>
                        <div class="form-group">
                            <label for="apellido" id="apellido">Apellido:</label>
                            <% if (typeof errors !=='undefined' && errors.apellido) { %>
                                <%= errors.apellido.msg %>
                                    <% } %>

                                        <input type="text" class="tamañocr" id="apellido" name="apellido">

                        </div>
                        <div class="form-group">
                            <label for="email" id="email" class="email">Email:</label>
                            <% if (typeof errors !=='undefined' && errors.email) { %>
                                <%= errors.email.msg %>
                                    <% } %>
                                   

                                        <input type="text" class="tamañocr" id="email" name="email">
                        </div>

                        <!-- Este es tu archivo de plantilla o documento HTML -->
                        <div class="form-group">
                            <label for="passwordLabel" class="password">Contraseña:</label>
                            <% if (typeof errors !=='undefined' && errors.password) { %>
                                <%= errors.password.msg %>
                                    <% } %>
                                        <input type="password" class="tamañocr" id="password" name="password">
                        </div>


                        <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <select name="categoria" id="categoria">
                                <option value="Comprador">Comprador</option>
                                <option value="Vendedor">Vendedor</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="foto_usuario">Foto de usuario:</label>
                            <input type="file" id="foto_usuario" name="foto_usuario">
                            <br>
                            <% if (typeof errors !=='undefined' && errors.foto_usuario) { %>
                                <%= errors.foto_usuario.msg %>
                                    <% } %>
                        </div>
                        <button type="submit">enviar</button>

                        <p class="warnings" id="warnings"></p>

                        <!-- <div class="form-group">
                    <input type="submit" value="Regístrate">
                </div>
                <div class="form-group">
                    <input type="reset" value="Borrar">
                </div> -->
                        <br>
                        <!-- <a href="/login" id="link">¿Ya tienes una cuenta?, Inicia sesion</a> -->
                    </form>
        </div>
        <script src="/validation/formvalidation.js"></script>
    </main>
    <footer><%- include('partials/footer') %></footer>


</body>

</html>